@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white: hsl(0, 100%, 100%);
    --purple-100: hsl(275, 100%, 97%);
    --purple-600: hsl(292, 16%, 49%);
    --purple-950: hsl(292, 42%, 14%);
    --attribution: hsl(228, 45%, 44%);

    --purple-hover: hsl(281, 58%, 51%);
}

*,
html,
body,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    background-color: var(--purple-100);
    background-image: url(../assets/images/background-pattern-mobile.svg);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;

    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    color: var(--purple-950);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
    padding: 1rem;
}

.attribution a {
    color: var(--attribution);
}

.accordion {
    width: 87.47%;

    background-color: var(--white);
    border-radius: 0.5rem;
    padding: 6.4%;

    &__title {
        font-size: 2.05rem;
        margin-bottom: 1.5625rem;

        &--image {
            width: 1.5625rem;
            aspect-ratio: 1 / 1;

            margin-inline-end: 1rem;
        }
    }

    &__divider {
        height: 0.125rem;
        width: 100%;
        background-color: var(--purple-100);

        margin: 1.125rem 0;
    }

    &__header {
        width: 100%;
        display: grid;
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 1fr;

        justify-content: left;
        align-items: center;

        background-color: inherit;
        border: none;

        font-weight: 600;
        font-size: 1rem;
        letter-spacing: 0.03125rem;
        text-align: left;
        color: var(--purple-950);
        font-family: "Work Sans", sans-serif;
        // margin-bottom: 1.5625rem;
    }

    &__panel {
        font-size: 0.9rem;
        color: var(--purple-600);
        line-height: 1.4;

        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
}

.accordion__header:hover {
    color: var(--purple-hover);
    cursor: pointer;
}

.accordion__panel:not([aria-hidden="true"]) {
    max-height: 9.375rem;
    padding-bottom: 1.125rem;
    padding-top: 1.5625rem;
}

.button__image {
    // content: url(../assets/images/icon-plus.svg);
    justify-self: end;
}